{% extends 'base.html' %} {% block content %}
{% load static %} {% load materializecss %}

<h1>editing {{user|lower}}'s bookshelf</h1>
<br><br>

<div class="edit_shelf_container">

    <div class="bookshelf" style="background-color: {{user.profile.color}};">
        <img src="{% static 'bookshelf.png' %}" alt="bookshelf" id="bookshelf">
        <div class="row1 bookrow">
            {% for book in books %}
            {% if book.position == 1 %}
            <div id="{{book.id}}" style="background-color: {{book.color}}; color: {{book.text_color}};" draggable="true"
                ondragstart="onDragStart(event)">
                <span class="rotate">{{book.title}}</span>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="row2 bookrow">
            {% for book in books %}
            {% if book.position == 2 %}
            <div id="{{book.id}}" style="background-color: {{book.color}}; color: {{book.text_color}};" draggable="true"
                ondragstart="onDragStart(event)">
                <span class="rotate">{{book.title}}</span>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="row3 bookrow">
            {% for book in books %}
            {% if book.position == 3 %}
            <div id="{{book.id}}" style="background-color: {{book.color}}; color: {{book.text_color}};" draggable="true"
                ondragstart="onDragStart(event)">
                <span class="rotate">{{book.title}}</span>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="row4 bookrow">
            {% for book in books %}
            {% if book.position == 4 %}
            <div id="{{book.id}}" style="background-color: {{book.color}}; color: {{book.text_color}};" draggable="true"
                ondragstart="onDragStart(event)">
                <span class="rotate">{{book.title}}</span>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>

    <div class="edit-menu">
        <button style="width: 200px;" class="modal-trigger btn-hover" data-target="modal1">+ add a book</button>
        <br>
        <!-- <button style="width: 200px;" class="modal-trigger btn-hover" data-target="modal2">+ add decor</button>
        <br> -->
        <div ondragover="onDragOver(event)" ondrop="onDrop(event)" id="trash">
            <button style="width: 200px;" class="btn-hover">drag book to delete 🗑</button>
        </div>
        <br>
        <div>

            <form action="{% url 'shelf_color' %}" method="POST">
                {% csrf_token %}
                {{color_form|materializecss}}
                <button type="submit" class="right">change bookshelf color</button>
            </form>

        </div>
        <br>
        <div>
            <a href="{% url 'home' user.id %}">back to bookshelf</a>
        </div>
        <div id="modal1" class="modal">
            <div class="modal-content">
                {% if avail_books %}
                {{form.media}}
                <form action="{% url 'added' %}" method="POST" id="addBookForm">
                    {% csrf_token %}
                    <div hidden>
                        <input type="checkbox" id="bookshelf" name="bookshelf" checked>
                        <label for="bookshelf">Add to shelf?</label>
                    </div>

                    <div class="input-field col s12">
                        <select name="title" id="title" onchange="titleSelected(event)">
                            <option value="0" disabled selected>book to add</option>
                            {% for book in avail_books %}
                            <option value="{{book.title}}" id="{{book.color}} {{book.text_color}}">{{book.title}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-field col s12">
                        <select name="position" id="position" onchange="positionSelected(event)">
                            <option value="0" disabled selected>shelf</option>
                            {% for position in positions %}
                            <option value="{{position}}">{{position}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                </form>
                {% else %}
                <h6>Add more books to your library to udpate your bookshelf!</h6>
                {% endif %}
            </div>
        </div>

        <!-- <div id="modal2" class="modal">
            <div class="modal-content">
                <h4>Plants</h4>
                <div class="decor-images">
                    <img src="https://www.livelyroot.com/cdn/shop/files/Schefflera_Arboricola_Gold_Capella_light_basket.png?v=1684140478&width=500" alt="">
                    <img src="https://easydrawingguides.com/wp-content/uploads/2020/11/Potted-Plant-Step-10.png" alt="">
                </div>
            </div>
        </div> -->
    </div>

</div>
<br><br>

<script>
    let item;
    function onDragStart(event) {
        item = event.target.id;
    }

    function onDragOver(event) {
        event.preventDefault();
    }

    function onDrop(event) {
        window.location.replace(`/bookshelf/remove/${item}`)
    }

    let title = null;
    let position = null;
    function titleSelected(e) {
        title = e.target.value;
        colorForm();
        submitButton();
    }

    function positionSelected(e) {
        position = e.target.value;
        submitButton();
    }
    
    let container = document.getElementById('addBookForm');
    // to set the colors in the form to match the saved book
    function colorForm() {
        let options = document.getElementById('title');
        let id = options[options.selectedIndex].id;
        let colors = id.split(" ");
        let color = colors[0];
        let textColor = colors[1];

        let form = document.createElement('div');
        form.innerHTML = `{{form|materializecss}}`;
        container.appendChild(form);
        let htmlColor = document.getElementById('color')
        let htmlTextColor = document.getElementById('text_color')
        htmlColor.value = color
        htmlTextColor.value = textColor

    }

    function submitButton() {
        if (title !== null && position !== null) {
            let buttonDiv = document.createElement('div');
            buttonDiv.innerHTML = `<input type="submit" id="submit" value="Add" class="btn form-btn">`;
            container.appendChild(buttonDiv);
        }
    }

</script>

{% endblock %}

