{% extends 'base.html' %} {% block content %}
{% load static %}

<h1>{{user|lower}}'s bookshelf</h1>
<br><br>

<div class="bookshelf edit_shelf" style="background-color: {{user.profile.color}};">
    <img src="{% static 'shelf.png' %}" alt="bookshelf" id="bookshelf">
    <div class="row1 bookrow">
        {% for book in books %}
        {% if book.position == 1 %}
        <div id="{{book.id}}"
            style="background-color: {{book.color}};">
            <button class="rotate modal-trigger btn-hover" data-target="{{book.title}}" style="color: {{book.text_color}};">{{book.title}}</button>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row2 bookrow">
        {% for book in books %}
        {% if book.position == 2 %}
        <div id="{{book.id}}"
            style="background-color: {{book.color}};">
            <button class="rotate modal-trigger btn-hover" data-target="{{book.title}}" style="color: {{book.text_color}};">{{book.title}}</button>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row3 bookrow">
        {% for book in books %}
        {% if book.position == 3 %}
        <div id="{{book.id}}"
            style="background-color: {{book.color}};">
            <button class="rotate modal-trigger btn-hover" data-target="{{book.title}}" style="color: {{book.text_color}};">{{book.title}}</button>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row4 bookrow">
        {% for book in books %}
        {% if book.position == 4 %}
        <div id="{{book.id}}"
            style="background-color: {{book.color}};">
            <button class="rotate modal-trigger btn-hover" data-target="{{book.title}}" style="color: {{book.text_color}};">{{book.title}}</button>
        </div>
        {% endif %}
        {% endfor %}
    </div>

</div>
<br><br>

{% for book in books %}
{% if book.bookshelf %}
<div id="{{book.title}}" class="modal">
    <div class="modal-content">
        <div class="modal-body" style="width: inherit; border: none;">
            <div class="card" style="background-color: {{book.color}}; color: {{book.text_color}};">
                <div class="card-title center">
                    <h5>{{book.title}}</h5>
                </div>
                <div class="card-image">
                    <img src="{{book.image.url}}" alt="img" id="card-image">
                </div>
                <div class="card-content">
                    <h6 class="center">{{book.author}}</h6>
                </div>
            </div>
            <div class="details center">
                <div id="rating">
                    Rating:
                    {% if book.rating > 5 %}
                    <span>⭐ ⭐ ⭐ ⭐ ⭐ </span>
                    {% elif book.rating == 0 %}
                    <span>Not Read</span>
                    {% else %}
                    {% for item in "x"|ljust:book.rating %}
                    ⭐
                    {% endfor %}
                    {% endif %}
                </div>
                <div>
                    Genre: {{book.genre}}
                </div>
                {% if book.recommend == True %}
                <div>
                    Recommend? Yes!
                </div>
                {% elif book.recommend == False %}
                <div>
                    Recommend? No.
                </div>
                {% endif %}
                <div>
                    <p>Notes <br>
                        {{book.notes}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}