{% extends 'base.html' %} {% block content %}

<h2>My Library</h2>

<hr>
<br>

<form action="{% url 'search_title' %}" method="GET" id="searchform">
    <input type="submit" class="btn form-btn" value="Search" style="margin: 10px;">
    <input type="text" placeholder="search books or authors" name="q">
</form>

<div>
    <fieldset class="sort-by">
        {% with page=view.kwargs.page %}
        <legend>Sort By:</legend>
        <div>
            <label>
                <a href="{% url 'index' page 'title' %}">
                    <input type="radio" name="group1" class="with-gap" {% if view.kwargs.sorted == 'title' %} checked {% endif %}>
                    <span>Title</span></a>
            </label>
        </div>
        <div>
            <label>
                <a href="{% url 'index' page 'author' %}">
                    <input type="radio" name="group1" class="with-gap" {% if view.kwargs.sorted == 'author' %} checked {% endif %}>
                    <span>Author</span></a>
            </label>
        </div>
        <div>
            <label>
                <a href="{% url 'index' page 'genre' %}">
                    <input type="radio" name="group1" class="with-gap" {% if view.kwargs.sorted == 'genre' %} checked {% endif %}>
                    <span>Genre</span></a>
            </label>
        </div>
        <div>
            <label>
                <a href="{% url 'index' page 'rating' %}">
                    <input type="radio" name="group1" class="with-gap" {% if view.kwargs.sorted == 'rating' %} checked {% endif %}>
                    <span>Rating</span></a>
            </label>
        </div>
        <div>
            <label for="tbr">
                <a href="{% url 'tbr' view.kwargs.sorted %}">
                    <input class="with-gap" type="checkbox" value="tbr" id="tbr">
                    <span>TBR Only</span></a>
            </label>
        </div>
        {% endwith %}
    </fieldset>
</div>

<br>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>TBR?</th>
        </tr>
    </thead>
    <tbody id="list_container">
        {% for book in object_list %}
        <tr>
            <td><a href="{% url 'book_details' book.id %}">{{book.title}}</a></td>
            <td>{{book.author}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.rating}}</td>
            {% if book.read %}
            <td>No</td>
            {% else %}
            <td>Yes</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<ul class="pagination center">
    {% with sorted=view.kwargs.sorted %}
    {% if view.kwargs.page > 1 %}
    <li><a href="{% url 'index' '1' sorted %}"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    <li {% if view.kwargs.page == 1 %} class="active grey" {% endif %}><a href="{% url 'index' '1' sorted %}">1</a></li>
    <li {% if view.kwargs.page == 2 %} class="active grey" {% endif %}><a href="{% url 'index' '2' sorted %}">2</a></li>
    <li {% if view.kwargs.page == 3 %} class="active grey" {% endif %}><a href="{% url 'index' '3' sorted %}">3</a></li>
    <li {% if view.kwargs.page == 4 %} class="active grey" {% endif %}><a href="{% url 'index' '4' sorted %}">4</a></li>
    <li {% if view.kwargs.page == 5 %} class="active grey" {% endif %}><a href="{% url 'index' '5' sorted %}">5</a></li>
    {% if view.kwargs.page != 5 %}
    <li><a href="{% url 'index' '5' sorted %}"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
    {% endwith %}
</ul>
<br><br>
{% endblock %}