{% extends 'base.html' %} {% block content %}

<h2>My Library</h2>

<hr>
<br>

<form action="{% url 'search_title' %}" method="GET" id="searchform">
    <input type="submit" class="btn form-btn" value="Search" style="margin: 10px;">
    <input type="text" placeholder="search books or authors" name="q">
</form>

<div>
    <fieldset class="sort-by">
        <legend>Sort By:</legend>
        <div>
            <label>
                <a href="{% url 'tbr' 'title' %}">
                <input type="radio" name="group1" class="with-gap" {% if view.kwargs.sorted == "title" %} checked {% endif %}> 
                <span>Title</span></a>
            </label>
        </div>
        <div>
            <label>
                <a href="{% url 'tbr' 'author' %}">
                <input type="radio" name="group1" class="with-gap" {% if view.kwargs.sorted == "author" %} checked {% endif %}> 
                <span>Author</span></a>
            </label>
        </div>
        <div>
            <label>
                <a href="{% url 'tbr' 'genre' %}">
                <input type="radio" name="group1" class="with-gap" {% if view.kwargs.sorted == "genre" %} checked {% endif %}> 
                <span>Genre</span></a>
            </label>
        </div>
        <div>
            <label>
                <a href="{% url 'tbr' 'rating' %}">
                <input type="radio" name="group1" class="with-gap" {% if view.kwargs.sorted == "rating" %} checked {% endif %}> 
                <span>Rating</span></a>
            </label>
        </div>
        <div>
            <label for="tbr">
                <a href="{% url 'index' '1' 'title' %}">
                <input class="with-gap" type="checkbox" value="tbr" id="tbr" checked> 
                <span>TBR Only</span></a>
            </label>
        </div>
    </fieldset>
</div>

<br>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>TBR?</th>
        </tr>
    </thead>
    <tbody id="list_container">
        {% for book in object_list %}
        <tr>
            <td><a href="{% url 'book_details' book.id %}">{{book.title}}</a></td>
            <td>{{book.author}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.rating}}</td>
            {% if book.read %}
            <td>No</td>
            {% else %}
            <td>Yes</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}