* {
    font-family: Klee One;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#toggle,
#toggle:active {
    background-color: rgb(206, 206, 206);
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 3px;
    border: none;
    font-family: Klee One;
}

.light-mode-header-footer {
    background-color: rgb(82, 152, 82);
    color: rgb(204, 204, 204);
}

.dark-mode-header-footer {
    background-color: rgb(17, 33, 17);
    color: rgb(204, 204, 204);
}

.dark-mode-body {
    background-color: rgb(31, 31, 31);
    color: rgb(204, 204, 204);
}

.dark-mode-body>main>.modal-content>.modal-body {
    background-color: rgb(53, 53, 53);
}

.light-mode-body {
    background-color: rgb(246, 246, 246);
}

.dark-mode-body>a {
    color: rgb(204, 204, 204);
}

#headerimg {
    width: 40px;
    padding-top: 10px;
}

.links {
    margin: 10px;
}

textarea,
input:focus,
input[type=text],
input[type=number] {
    color: rgb(50, 98, 50);
}

.file-field>.btn,
.form-btn {
    background-color: rgb(99, 99, 99);
    color: rgb(221, 221, 221);
}

.form-btn:hover {
    background-color: rgb(76, 76, 76);
    color: rgb(221, 221, 221);
}

#searchform {
    display: flex;
    flex-direction: row;
}

#searchform > input[type=text] {
    width: 90%;
}

form>div {
    padding: 6px;
}

a {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    color: rgb(255, 219, 88)
}

.modal-body {
    border: 3px solid rgb(17, 33, 17, .8);
    width: 60vw;
    margin: 20px;
    display: flex;
    background-color: inherit;
}

.modal-body>div {
    margin: 20px;
}

#card-image {
    width: 300px;
}

.card {
    width: fit-content;
    padding: 10px;
    background-color: inherit;
}

.details {
    align-content: center;
}

.details>div {
    font-weight: 300;
    padding: 20px;
}

fieldset>div {
    width: fit-content;
}

fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid rgb(82, 152, 82);
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
    background-color: rgb(82, 152, 82);
}

#bookshelf {
    filter: invert(50%);
    width: 124%;
    margin: -2%;
    transform: translate(-8%);
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.bookshelf {
    display: grid;
    grid-template-columns: 12% 1fr 1fr 1fr 1fr 1fr 11%;
    grid-template-rows: 6% 18% 7% 17% 8% 17% 8% 1fr 5%;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    max-width: 450px;
    height: fit-content calc(120%);
    background: center/200px no-repeat;
}

.bookshelf > div {
    align-content: center;
    text-align: center;
    overflow: hidden;
    border-radius: 7px;
}

#one, #two, #three, #four, #five {
    grid-row-start: 2;
}

#six, #seven, #eight, #nine, #ten {
    grid-row-start: 4;
}

#eleven, #twelve, #thirteen, #fourteen, #fifteen {
    grid-row-start: 6;
}

#sixteen, #seventeen, #eighteen, #nineteen, #twenty {
    grid-row-start: 8;
}

#one, #six, #eleven, #sixteen {
    grid-column-start: 2;
}

#two, #seven, #twelve, #seventeen {
    grid-column-start: 3;
}

#three, #eight, #thirteen, #eighteen {
    grid-column-start: 4;
}
#four, #nine, #fourteen, #nineteen {
    grid-column-start: 5;
}
#five, #ten, #fifteen, #twenty {
    grid-column-start: 6;
}

.rotate {
    display: inline-block;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}