{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'daisy.webp' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Daisy Books</title>
</head>

<body class="{% if user.profile.darkTheme %} dark-mode-body {% else %} light-mode-body {% endif %}">

    <nav>
        <div class="nav-wrapper {% if user.profile.darkTheme %} dark-mode-header-footer {% else %} light-mode-header-footer {% endif %}"
            id="header">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <!-- <li><a href="{% url 'about' %}">About</a></li> -->
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">Bookshelf</a></li>
                <li><a href="{% url 'edit_bookshelf' %}">Edit Shelf</a></li>
                <li><a href="{% url 'index' 'title' %}">My Library</a></li>
                <li><a href="{% url 'add_book' %}">Add a Book</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            </ul>
            {% endif %}
            <a href="{% url 'home' %}" class="brand-logo right">Daisy Books <img id="headerimg"
                    src="{% static 'daisy.webp' %}" alt=""></a>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'home' %}">Bookshelf</a></li>
        <li><a href="#">Edit Shelf</a></li>
        <li><a href="{% url 'index' 'title' %}">My Library</a></li>
        <li><a href="{% url 'add_book' %}">Add a Book</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
    </ul>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer
        class="page-footer {% if user.profile.darkTheme %} dark-mode-header-footer {% else %} light-mode-header-footer {% endif %}"
        id="footer">
        <div class="container">
                    <a class="grey-text text-lighten-2 links" href="{% url 'about' %}">About</a>
                    <a class="grey-text text-lighten-2 links" href="#">Resources</a>
                    <a class="grey-text text-lighten-2 links" href="#">Share</a>
                <!-- <div>© 2024 Daisy Books</div> -->
            {% if user.is_authenticated %}
            <form action="{% url 'change_theme' %}">
                <button type="submit" class="right light-mode" id="toggle" value="Light Mode">Toggle
                    Dark/Light Mode</button>
            </form>
            {% endif %}
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
        integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>


    <script>
        M.AutoInit();
        $(document).ready(function() {
            $('.sidenav').sidenav();
        });
    </script>

</body>

</html>